*.tmp
.idea
*.iml
/CommonLibrary/target/
/Services/target/
/AppUI/target/
/ProjectFiles/Documents/~$*.doc*
/CommonLibrary/target
/AppUI/src/main/webapp/VAADIN/themes/**/styles.css
/target/
/Services/*.iml
/CommonLibrary/*.iml
/AppUI/*.iml
/ProjectFiles/*.iml
/Services/nb-configuration.xml
/CommonLibrary/nb-configuration.xml
/AppUI/nb-configuration.xml
/ProjectFiles/NightWatch/.idea
/ProjectFiles/NightWatch/screenshots
/ProjectFiles/NightWatch/reports
/ProjectFiles/NightWatch/node_modules